Samples/002/SAP posting.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfJournalVoucherJournalVoucherSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JournalVoucherJournalVoucherSet" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="MessageID"/>
              <xs:element type="xs:string" name="HeaderTxt"/>
              <xs:element type="xs:short" name="CompCodeHeader"/>
              <xs:element type="xs:date" name="DocDate"/>
              <xs:element type="xs:date" name="PstngDate"/>
              <xs:element type="xs:string" name="RefDocNo"/>
              <xs:element type="xs:string" name="DocType"/>
              <xs:element type="xs:string" name="TransDate"/>
              <xs:element type="xs:short" name="CompCodeItem"/>
              <xs:element type="xs:string" name="Currency"/>
              <xs:element type="xs:string" name="TradeId"/>
              <xs:element type="xs:string" name="CrossCompCode"/>
              <xs:element type="xs:string" name="GlAccount"/>
              <xs:element type="xs:string" name="VendorNo"/>
              <xs:element type="xs:string" name="Customer"/>
              <xs:element type="xs:string" name="ReconAcc"/>
              <xs:element type="xs:string" name="Indic"/>
              <xs:element type="xs:float" name="AmtDoccur"/>
              <xs:element type="xs:float" name="AmtLoccur"/>
              <xs:element type="xs:float" name="AmtGrpcur"/>
              <xs:element type="xs:float" name="AmtHrdcur"/>
              <xs:element type="xs:string" name="SpGlInd"/>
              <xs:element type="xs:string" name="Pycur"/>
              <xs:element type="xs:float" name="Pyamt"/>
              <xs:element type="xs:string" name="TransType"/>
              <xs:element type="xs:string" name="Costcenter"/>
              <xs:element type="xs:string" name="ProfitCtr"/>
              <xs:element type="xs:string" name="TaxCode"/>
              <xs:element type="xs:float" name="AmtBase"/>
              <xs:element type="xs:float" name="TaxAmt"/>
              <xs:element type="xs:string" name="AllocNmbr"/>
              <xs:element type="xs:string" name="ValueDate"/>
              <xs:element type="xs:string" name="Pmnttrms"/>
              <xs:element type="xs:date" name="BlineDate"/>
              <xs:element type="xs:string" name="PymtMeth"/>
              <xs:element type="xs:string" name="PmntBlock"/>
              <xs:element type="xs:string" name="ItemText"/>
              <xs:element type="xs:long" name="RefKey1"/>
              <xs:element type="xs:string" name="RefKey2"/>
              <xs:element type="xs:string" name="RefKey3"/>
              <xs:element type="xs:string" name="Region"/>
              <xs:element type="xs:string" name="Hub"/>
              <xs:element type="xs:string" name="SubHub"/>
              <xs:element type="xs:string" name="Service"/>
              <xs:element type="xs:string" name="Vessel"/>
              <xs:element type="xs:string" name="Voyage"/>
              <xs:element type="xs:string" name="Leg"/>
              <xs:element type="xs:string" name="Sector"/>
              <xs:element type="xs:string" name="CustomerGroup"/>
              <xs:element type="xs:string" name="CustomerNo"/>
              <xs:element type="xs:string" name="JvPartner"/>
              <xs:element type="xs:string" name="FreightType"/>
              <xs:element type="xs:string" name="ChargeType"/>
              <xs:element type="xs:string" name="ContainerType"/>
              <xs:element type="xs:string" name="ContainerSize"/>
              <xs:element type="xs:string" name="Commodity"/>
              <xs:element type="xs:string" name="CommodityType"/>
              <xs:element type="xs:string" name="CommittedTeu"/>
              <xs:element type="xs:string" name="ActualTeu"/>
              <xs:element type="xs:string" name="RevenueTeu"/>
              <xs:element type="xs:string" name="ActualWeight"/>
              <xs:element type="xs:string" name="BunkerQuantity"/>
              <xs:element type="xs:string" name="Port"/>
              <xs:element type="xs:string" name="PortOfLoading"/>
              <xs:element type="xs:string" name="PortOfDischarge"/>
              <xs:element type="xs:string" name="Terminal"/>
              <xs:element type="xs:string" name="TerminalOfLoading"/>
              <xs:element type="xs:string" name="TerminalOfDischarge"/>
              <xs:element type="xs:string" name="ThroughBl"/>
              <xs:element type="xs:string" name="TranshipmentPort"/>
              <xs:element type="xs:string" name="ShipmentTermLoad"/>
              <xs:element type="xs:string" name="ShipmentTermDischarge"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>